In [12]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('./datasets/Crucial_Elements.csv', index_col=0)
df = df.drop(df.index[0], axis=0)
df.head()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
2020-01-01 01:00:00,16.936198,2.564234,11.581830,0.000405,1.958635,0.043406,0.935325,0.018230,0.0,0.010851,0.064964,0.881357,0.042827,0.0,13.356097
2020-01-01 02:00:00,17.148780,2.690488,11.325833,0.001363,1.940590,0.053938,0.916782,0.025468,0.0,0.012166,0.083786,0.847757,0.056290,0.0,12.094755
2020-01-01 03:00:00,16.830250,2.791689,11.313673,0.001200,1.848462,0.043444,0.925123,0.027952,0.0,0.014369,0.096767,0.820947,0.067916,0.0,11.545077
2020-01-01 04:00:00,16.732711,2.921626,11.491224,0.001534,1.657045,0.045114,0.916712,0.036164,0.0,0.014429,0.109954,0.783196,0.092420,0.0,11.273529
2020-01-01 05:00:00,16.694981,3.021095,11.491293,0.001161,1.352062,0.044855,0.873351,0.077836,0.0,0.014952,0.112577,0.737027,0.135444,0.0,10.578918

I created dummy variables in my data wrangling to help study what the data looks like and to check how they correlated to the target variable.

# Standardizing the magnitude

In [11]:
scalar = StandardScaler()
scaled_df = scalar.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
0,0.885796,-0.027912,0.437501,-0.214885,1.315357,0.374369,0.207345,-0.679667,-0.074548,-0.544620,0.333074,0.168653,-0.244830,-0.070958,1.689017
1,1.004708,0.127004,0.315116,-0.069906,1.267848,0.638116,-0.027822,-0.426011,-0.074548,-0.511267,0.784197,-0.155153,0.089778,-0.070958,0.989211
2,0.826532,0.251179,0.309303,-0.094525,1.025295,0.375325,0.077969,-0.338959,-0.074548,-0.455398,1.095317,-0.413523,0.378743,-0.070958,0.684245
3,0.771972,0.410612,0.394185,-0.043923,0.521331,0.417148,-0.028700,-0.051167,-0.074548,-0.453874,1.411391,-0.777335,0.987760,-0.070958,0.533587
4,0.750867,0.532663,0.394218,-0.100444,-0.281626,0.410655,-0.578600,1.409244,-0.074548,-0.440623,1.474249,-1.222272,2.057085,-0.070958,0.148210

In [13]:
X = scaled_df.drop('total_amount', axis=1)
y = scaled_df['total_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [15]:
(X_train.shape, y_train.shape)

((3056, 14), (3056,))

In [16]:
(X_test.shape, y_test.shape)

((1311, 14), (1311,))

In [20]:
X_train.join(y_train).to_csv('./datasets/Train_Data.csv')
X_test.join(y_test).to_csv('./datasets/Test_Data.csv')