In [12]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('./datasets/Crucial_Elements.csv', index_col=0)
df = df.drop(df.index[0], axis=0)
df.head()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
2020-01-01 01:00:00,16.936198,2.564234,11.581830,0.000405,1.958635,0.043406,0.935325,0.018230,0.0,0.010851,0.064964,0.881357,0.042827,0.0,13.356097
2020-01-01 02:00:00,17.148780,2.690488,11.325833,0.001363,1.940590,0.053938,0.916782,0.025468,0.0,0.012166,0.083786,0.847757,0.056290,0.0,12.094755
2020-01-01 03:00:00,16.830250,2.791689,11.313673,0.001200,1.848462,0.043444,0.925123,0.027952,0.0,0.014369,0.096767,0.820947,0.067916,0.0,11.545077
2020-01-01 04:00:00,16.732711,2.921626,11.491224,0.001534,1.657045,0.045114,0.916712,0.036164,0.0,0.014429,0.109954,0.783196,0.092420,0.0,11.273529
2020-01-01 05:00:00,16.694981,3.021095,11.491293,0.001161,1.352062,0.044855,0.873351,0.077836,0.0,0.014952,0.112577,0.737027,0.135444,0.0,10.578918

I created dummy variables in my data wrangling to help study what the data looks like and to check how they correlated to the target variable.

# Standardizing the magnitude

In [11]:
scalar = StandardScaler()
scaled_df = scalar.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

,total_amount,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride
0,0.885796,-0.027912,0.437501,-0.214885,1.315357,0.374369,0.207345,-0.679667,-0.074548,-0.544620,0.333074,0.168653,-0.244830,-0.070958,1.689017
1,1.004708,0.127004,0.315116,-0.069906,1.267848,0.638116,-0.027822,-0.426011,-0.074548,-0.511267,0.784197,-0.155153,0.089778,-0.070958,0.989211
2,0.826532,0.251179,0.309303,-0.094525,1.025295,0.375325,0.077969,-0.338959,-0.074548,-0.455398,1.095317,-0.413523,0.378743,-0.070958,0.684245
3,0.771972,0.410612,0.394185,-0.043923,0.521331,0.417148,-0.028700,-0.051167,-0.074548,-0.453874,1.411391,-0.777335,0.987760,-0.070958,0.533587
4,0.750867,0.532663,0.394218,-0.100444,-0.281626,0.410655,-0.578600,1.409244,-0.074548,-0.440623,1.474249,-1.222272,2.057085,-0.070958,0.148210

In [13]:
X = scaled_df.drop('total_amount', axis=1)
y = scaled_df['total_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [15]:
(X_train.shape, y_train.shape)

((3056, 14), (3056,))

In [16]:
(X_test.shape, y_test.shape)

((1311, 14), (1311,))

In [ ]:
crucial_elements.to_csv('./datasets/Crucial_Elements.csv')

In [18]:
X_train.join(y_train).to_csv('./datasets/Train_Data.csv')
X_test.join(y_test).to_csv('./')

,trip_distance,fare_amount,tolls_amount,tip_amount,Brooklyn_PU,Manhattan_PU,Queens_PU,Staten_Island_PU,Bronx_DO,Brooklyn_DO,Manhattan_DO,Queens_DO,Staten_Island_DO,Mins_In_Ride,total_amount
3198,0.673660,0.494988,0.390363,-0.864409,1.531756,-1.265555,-0.106300,-0.074548,1.214050,1.338622,-0.809351,-0.488607,-0.070958,0.319449,-0.072874
3530,4.625330,5.044336,6.051385,-2.244365,5.267693,-3.704477,0.773699,-0.074548,2.587249,3.426499,-3.003101,1.658396,-0.070958,3.137250,2.835155
1398,-0.730845,-0.425233,-0.146603,0.738260,-0.340001,0.517009,-0.482787,-0.074548,-0.713872,-0.952837,0.968267,-0.807721,-0.070958,0.396581,-0.949188
3484,1.803082,1.844696,-0.276224,-2.469801,3.706654,-2.851601,-0.493964,-0.074548,2.462545,1.595769,-1.635797,0.152746,-0.070958,0.274850,5.006435
3269,1.268187,0.922534,-0.276224,-1.786030,1.887949,-1.947808,0.838076,-0.074548,1.618991,0.896255,-1.060186,0.220223,-0.070958,0.143006,1.702442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444,-0.485195,-0.749493,-0.276224,-0.424151,-0.148605,0.170660,-0.055665,-0.074548,-0.191469,-0.306290,0.270178,-0.189706,-0.070958,-0.991588,-0.950493
466,-0.962069,-0.851736,-0.235274,0.281880,-0.591363,0.659081,-0.507306,0.040168,-0.771927,-0.909766,0.937562,-0.719244,0.045739,-0.358981,-0.951091
3092,0.269241,-0.015698,-0.276224,-0.632674,0.544336,-0.294503,-0.642009,-0.074548,0.844963,0.996981,-0.622838,-0.253681,-0.070958,-0.243949,-0.054885
3772,1.561883,1.157238,-0.276224,-1.583913,0.836399,-2.240967,2.294362,-0.074548,1.794990,-0.235613,-0.774359,0.484335,-0.070958,0.109573,4.728688
860,-0.297692,-0.119026,-0.047996,1.874050,-0.427593,0.713492,-0.854991,-0.074548,-0.722325,0.097636,0.506403,-0.697609,-0.070958,0.642624,0.337847